.button {
    background-color: var(--orange-3);
    padding: 12px 16px;
    border: 1px solid var(--orange-7);
    color: var(--orange-11);
    font-size: 16px;
    border-radius: 4px;

    &:hover {
        background-color: var(--orange-4);
    }

    &:active,
    &:focus {
        background-color: var(--orange-5);
    }
}
